#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
}

a {
  font-size: 2rem;
  color: black;
  font-style: bold;
  text-decoration: none;
}
a:active,
a:hover {
  border-bottom: 1px solid black;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  width: 980px;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  font-weight: 700;
  padding: 10px 5px;
  justify-content: flex-end;
  gap: 4rem;
  background-color: none;
  border-bottom: 1px black solid;
  padding-bottom: 25px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 100px;
  min-width: 500px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}
button {
  background-color: purple;
  width: 100%;
  color: white;
  height: 50px;
  margin: 15px 0;
  margin-left: 150px;
  border-radius: 10px;
  border: none;
}

h2 {
  margin-bottom: 100px;
}

.err {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  height: 20px;

  color: red;
}
.err .submit {
  display: flex;
  justify-content: space-evenly;
}
